/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap');

/* color variables */
:root {
    --green: #00ff6c;
    --blue: #73c2fb;
    --gray: #5a5a5a;
    --dark-gray: #2f2f2f;
    --red: #ca2440;
}

/* style resetting and general structure rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 16px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    scroll-behavior: smooth;
    background-color: #222;
}

section {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 0 5%;
    margin: auto;
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 20px;
    }
}